:root {
	--primary-color: hsl(172, 67%, 45%);
	--very-dark-cyan: hsl(183, 100%, 15%);
	--very-dark-grayish-cyan: hsl(186, 14%, 43%);
	--dark-grayish-cyan: hsl(184, 14%, 56%);
	--light-grayish-cyan: hsl(185, 41%, 84%);
	--very-light-grayish-cyan: hsl(189, 41%, 97%);
	--white: hsl(0, 0%, 100%);

	--font-size-form: 24px;
	--font-size-output-value-mobile: 28px;
	--font-size-output-value-desktop: 36px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@media screen and (min-width: 375px) and (max-width: 1440px) {
	body {
		font-family: 'Space Mono', monospace;
		background-color: var(--light-grayish-cyan);
	}
	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.logo {
		padding-top: 50px;
		padding-bottom: 25px;
	}

	.calculator-container {
		display: flex;
		flex-direction: column;
		align-items: space-around;
		width: 100%;
		background-color: var(--white);
		border-radius: 15px;
		padding: 25px;
		margin: 0;
	}
}

@media screen and (min-width: 992px) {
	.calculator-container {
		flex-direction: row;
		width: 70%;
	}
}
